<ion-header>
  <ion-navbar>
    <ion-title>Météo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid *ngIf="weather">
    <ion-row>
        <ion-item *ngIf="weather">
          <ion-label color="primary">Lieu</ion-label>
          <ion-input [(ngModel)]="location.cityName" (ionChange)="this.getWeather()"></ion-input>
        </ion-item>
    </ion-row>
    <ion-card class="item" *ngFor="let key of weatherListProps">
      <ion-list>
        <expandable [weatherItem]="weather.list[key][0]" [weatherList]="weather.list[key]"></expandable>
      </ion-list>
    </ion-card>
  </ion-grid>
</ion-content>